@charset "UTF-8";
/**======================-ШРИФТЫ-=================*/
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-ExtraBold.woff2") format("woff2"), url("../fonts/Raleway-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Bold.woff2") format("woff2"), url("../fonts/Rubik-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Bold.woff2") format("woff2"), url("../fonts/Raleway-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Regular.woff2") format("woff2"), url("../fonts/Rubik-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-weight: 400;
  font-size: 0.75em;
  line-height: 1.4167;
  letter-spacing: 0.08em;
}

.menu__link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 0.625rem;
  line-height: 1.2;
  letter-spacing: 0.14em;
  text-transform: uppercase;
}

.btn {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 0.625rem;
  line-height: 1.067;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  text-align: center;
}

.title {
  font-weight: 700;
  font-size: 2.75rem;
  line-height: 1.25;
  color: var(--base-black);
}

.title span {
  color: var(--base-red);
}

.title--blue span {
  color: var(--base-blue);
}

.video-health__title {
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.33;
}

.video-health__text {
  font-size: 0.5625rem;
  line-height: 0.6875;
  letter-spacing: 0.165em;
  text-transform: uppercase;
}

.body-statistics-experts__value {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1.195;
  letter-spacing: 0.14em;
  color: var(--base-red);
}

.body-statistics-experts__title {
  font-weight: 700;
  font-size: 0.6875rem;
  line-height: 1.18;
  letter-spacing: 0.37em;
  text-transform: uppercase;
  color: var(--base-black);
}

/*!=================-COLORS-=================!*/
:root {
  --base-black: #000000;
  --base-white: #ffffff;
  --base-gray: #616161;
  --base-red: #ec5863;
  --base-blue: #587eec;
  --base-light: #fafbfd;
  --base-shadow: rgba(88, 126, 236, 0.18);
  --light-shadow: rgba(0, 0, 0, 0.12);
  --ligth-gray: #b0b0b0;
  --dark-white: #fcfdfe;
  --btn-blue: #4285f4;
}

/*!=================RESET=================!*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-size: 16px;
}

/** Выставляем основные настройки по-умолчанию для body */
body {
  min-width: 320px;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: "Rubik", sans-serif;
}

/** Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/** Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/** Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/** Для элементов a, у которых есть класс, убираем подчеркивание*/
a[class] {
  text-decoration: none;
}

/** Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/** Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/** Наследуем шрифты для инпутов и кнопок*/
input,
button,
textarea,
select {
  font: inherit;
}

body {
  color: var(--base-gray);
  background-color: var(--base-white);
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

[class*="__container"] {
  max-width: 1087px;
  padding: 0px 15px;
  margin: 0 auto;
}

@media (max-width: 1087px) {
  [class*="__container"] {
    /*PC*/
    max-width: 970px;
  }
}

@media (max-width: 992.98px) {
  [class*="__container"] {
    /*TABLET*/
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  [class*="__container"] {
    /*PHONE*/
    max-width: none;
  }
}

@media (max-width: 479.98px) {
  [class*="__container"] {
    /*SMALL PHONE*/
  }
}

.main-page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.ibg {
  position: relative;
}

.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  display: inline-block;
  padding: 16px 30px;
  border-radius: 5px;
  background-color: var(--base-red);
  color: var(--dark-white);
  -webkit-transition: 0.3s opacity ease-in-out;
  transition: 0.3s opacity ease-in-out;
}

.btn:hover {
  opacity: 0.8;
}

.btn:active {
  opacity: 0.5;
}

.btn--blue {
  background-color: var(--btn-blue);
}

.block-text__text {
  margin-bottom: 24px;
}

.block-text__title {
  margin-bottom: 12px;
}

@media (max-width: 992.98px) {
  .block-text__btn {
    margin-bottom: 20px;
  }
}

/**======================-HEADER-=================*/
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 114px;
}

@media (max-width: 992.98px) {
  .header__container {
    min-height: 80px;
  }
}

.header__logo {
  position: relative;
  z-index: 5;
}

@media (max-width: 375.98px) {
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
    overflow: hidden;
  }
  .header__logo img {
    max-width: none;
  }
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__btn {
  position: relative;
  z-index: 5;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 252px;
          flex: 0 0 252px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992.98px) {
  .header__btn {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 160px;
            flex: 0 0 160px;
  }
}

@media (max-width: 768.98px) {
  .header .btn {
    padding: 16px 20px;
  }
}

@media (max-width: 768.98px) {
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    padding: 100px 15px 30px 15px;
    background-color: var(--dark-white);
    -webkit-transition: 0.3s left ease-in-out;
    transition: 0.3s left ease-in-out;
    overflow: auto;
  }
  .menu__body.active {
    left: 0;
  }
  .menu__body.active .menu__link {
    color: var(--base-black);
    font-size: 2em;
    font-weight: 800;
  }
  .menu__body.active .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__body.active .menu__item {
    margin-bottom: 25px;
    margin-right: 0;
  }
  .menu__body.active::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background-color: var(--dark-white);
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__item {
  margin-right: 40px;
}

@media (max-width: 992.98px) {
  .menu__item {
    margin-right: 30px;
  }
}

.menu__link {
  color: var(--base-black);
}

.menu__link:hover {
  text-decoration: underline;
}

.menu__link:active {
  opacity: 0.7;
}

.icon-menu {
  display: none;
}

@media (max-width: 768.98px) {
  .icon-menu {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: transparent;
    border: none;
    height: 18px;
    cursor: pointer;
    margin-left: 15px;
    padding: 0px;
  }
  .icon-menu::after, .icon-menu::before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--base-black);
    -webkit-transition: 0.3s -webkit-transform ease-in-out;
    transition: 0.3s -webkit-transform ease-in-out;
    transition: 0.3s transform ease-in-out;
    transition: 0.3s transform ease-in-out, 0.3s -webkit-transform ease-in-out;
  }
  .icon-menu span {
    width: 100%;
    height: 2px;
    background-color: var(--base-black);
  }
  .icon-menu.active span {
    background-color: transparent;
  }
  .icon-menu.active::before {
    -webkit-transform: rotate(45deg) translateX(11px);
            transform: rotate(45deg) translateX(11px);
  }
  .icon-menu.active::after {
    -webkit-transform: rotate(315deg) translateX(11px);
            transform: rotate(315deg) translateX(11px);
  }
}

/**======================-HEALTH-=================*/
.health {
  background-color: var(--base-light);
}

.health__container {
  padding: 153px 15px 48px 15px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992.98px) {
  .health__container {
    padding: 110px 15px 35px 15px;
  }
}

.health__container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 267px;
  width: 100vw;
  height: 100%;
  background-color: var(--base-red);
  border-radius: 30px 0px 0px 30px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

@media (max-width: 992.98px) {
  .health__container::before {
    right: 185px;
    border-radius: 20px 0px 0px 20px;
  }
}

@media (max-width: 767.98px) {
  .health__container::before {
    display: none;
  }
}

.health__content {
  position: relative;
  z-index: 5;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48%;
          flex: 0 1 48%;
  padding-left: 18px;
}

@media (max-width: 992.98px) {
  .health__content {
    padding: 0px;
  }
}

@media (max-width: 767.98px) {
  .health__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.health__block-text {
  max-width: 415px;
}

@media (max-width: 992.98px) {
  .health__block-text {
    max-width: none;
  }
}

.health__video {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 228px;
          flex: 1 1 228px;
  margin-left: 18px;
  margin-top: 60px;
}

@media (max-width: 992.98px) {
  .health__video {
    margin-left: 0px;
  }
}

@media (max-width: 767.98px) {
  .health__video {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-top: 20px;
  }
}

.health__img {
  position: relative;
  z-index: 5;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 52%;
          flex: 0 1 52%;
}

@media (max-width: 767.98px) {
  .health__img {
    padding: 0px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .health__img img {
    margin: 0 auto;
  }
}

.video-health {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transition: 0.3s opacity ease-in-out;
  transition: 0.3s opacity ease-in-out;
}

.video-health__icon {
  margin-right: 12px;
}

.video-health__icon img {
  max-width: none;
}

.video-health__title {
  color: var(--ligth-gray);
  margin-bottom: 5px;
}

.video-health__text {
  color: var(--base-black);
}

.video-health:hover {
  opacity: 0.6;
}

.video-health:active {
  opacity: 0.3;
}

/**======================-SAFETY-=================*/
.safety {
  padding: 79px 0px;
}

@media (max-width: 767.98px) {
  .safety {
    padding: 25px 0px;
  }
}

.safety__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767.98px) {
  .safety__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.safety__media {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding-left: 48px;
}

@media (max-width: 767.98px) {
  .safety__media {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding: 0px;
  }
}

.safety__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

@media (max-width: 767.98px) {
  .safety__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.media-safety {
  width: 373px;
  position: relative;
  text-align: center;
  padding: 56px 0px 27px 0px;
}

@media (max-width: 425.98px) {
  .media-safety {
    width: 290px;
  }
}

.media-safety__img {
  position: relative;
  display: inline-block;
  width: 61.5%;
  border-radius: 16px;
  -webkit-box-shadow: 2px 4px 32px rgba(0, 0, 0, 0.12);
          box-shadow: 2px 4px 32px rgba(0, 0, 0, 0.12);
}

.media-safety__img img {
  position: relative;
  z-index: 5;
}

.media-safety__img::after {
  content: "";
  position: absolute;
  left: 12px;
  bottom: -12px;
  width: 206px;
  height: 27px;
  border-radius: 16px;
  background-color: rgba(240, 240, 240, 0.49);
  z-index: 4;
}

.media-safety__item {
  position: absolute;
  background-color: var(--base-red);
  border-radius: 30px;
  width: 77px;
  height: 77px;
}

.media-safety__item--1 {
  top: 0px;
  left: 0px;
  width: 147px;
  height: 147px;
}

.media-safety__item--2 {
  bottom: 0px;
  left: 33px;
}

.media-safety__item--3 {
  bottom: 107px;
  right: 38px;
}

/*!=================-EXPERTS-=================!*/
.experts {
  background-color: var(--base-light);
  padding: 104px 0px 33px 0px;
}

.experts__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767.98px) {
  .experts__body {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.experts__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding-right: 20px;
}

@media (max-width: 767.98px) {
  .experts__content {
    padding-right: 0px;
    margin-bottom: 20px;
  }
}

.experts__block-text {
  max-width: 400px;
}

.experts__video {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  position: relative;
  padding-bottom: 30%;
}

.experts__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 767.98px) {
  .experts__video {
    padding-bottom: 58%;
  }
}

.statistics-experts {
  position: relative;
  max-width: 655px;
  margin: 0px auto;
  margin-bottom: 80px;
}

@media (max-width: 767.98px) {
  .statistics-experts {
    max-width: 425px;
  }
}

.statistics-experts__body {
  position: relative;
  z-index: 5;
  background-color: var(--base-white);
  -webkit-box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
          box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
  border-radius: 16px;
}

.statistics-experts__item {
  background-color: var(--base-red);
  border-radius: 30px;
  position: absolute;
}

.statistics-experts__item--1 {
  width: 66px;
  height: 66px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  border-radius: 16px;
  bottom: -21px;
  left: -21px;
}

.statistics-experts__item--2 {
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(105deg);
          transform: rotate(105deg);
  left: 33%;
  top: -41px;
}

.statistics-experts__item--3 {
  width: 127px;
  height: 127px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  right: -46px;
  bottom: -8px;
}

.body-statistics-experts {
  padding: 28px 79px 28px 81px;
}

.body-statistics-experts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767.98px) {
  .body-statistics-experts__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.body-statistics-experts__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767.98px) {
  .body-statistics-experts__wrap:not(:last-child) {
    margin-bottom: 20px;
  }
}

.body-statistics-experts__value {
  margin-bottom: 5px;
}

/**======================-FOOTER-=================*/
