// /**======================-МИКСИНЫ-=================*/
@import "./base/settings";
/**======================-ШРИФТЫ-=================*/
@import "./base/fonts";
// /**======================-ШРИФТЫ_ПОДКЛЮЧАЕМЫЕ-=================*/

// /**======================-ШРИФТЫ_ПО_УМОЛЧАНИЮ-=================*/
@import "./base/typography";
$font-family: "Rubik", sans-serif;
//**======================-ПЕРЕМЕННЫЕ-=================*/
@import "./base/colors";

$min-width: 320px;
//**======================-ОБНУЛЕНИЕ, ОБЩИЕ_ПАРАМЕТРЫ-=================*/
@import "./base/reset";
body {
  @extend %all-text;
  color: var(--base-gray);
  background-color: var(--base-white);
  @media (max-width: 767px) {
    &.lock {
      overflow: hidden;
    }
  }
}

//**======================-УПАКОВКА-=================*/
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
//**======================-ОСНОВНАЯ_СЕТКА-=================*/
[class*="__container"] {
  max-width: 1087px;
  padding: 0px 15px;
  margin: 0 auto;

  @media (max-width: 1087px) {
    /*PC*/
    max-width: 970px;
  }

  @media (max-width: 992.98px) {
    /*TABLET*/
    max-width: 750px;
  }

  @media (max-width: 767.98px) {
    /*PHONE*/
    max-width: none;
  }
  @media (max-width: 479.98px) {
    /*SMALL PHONE*/
  }
}
.main-page {
  flex: 1 1 auto;
}
// responsive images
.ibg {
  position: relative;
}
.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// buttons
.btn {
  @extend %btn;
  display: inline-block;
  padding: 16px 30px;
  border-radius: 5px;
  background-color: var(--base-red);
  color: var(--dark-white);
  transition: 0.3s opacity ease-in-out;
  &:hover {
    opacity: 0.8;
  }
  &:active {
    opacity: 0.5;
  }
}
.btn--blue {
  background-color: var(--btn-blue);
}
// block text
.block-text {
  &__text {
    margin-bottom: 24px;
  }
  &__title {
    margin-bottom: 12px;
  }

  &__btn {
    @media (max-width: 992.98px) {
      margin-bottom: 20px;
    }
  }
}
//**======================-НЕЗАВИСИМЫЕ_БЛОКИ-=================*/

//**======================-ПОДКЛЮЧЕНИЕ_СТИЛЕЙ-=================*/
@import "./section/header";
@import "./section/health";
@import "./section/safety";
@import "./section/footer";
