/*!=================-COLORS-=================!*/
:root {
  --base-black: #000000;
  --base-white: #ffffff;
  --base-gray: #616161;
  --base-red: #ec5863;
  --base-blue: #587eec;
  --base-light: #fafbfd;
  --base-shadow: rgba(88, 126, 236, 0.18);

  --light-shadow: rgba(0, 0, 0, 0.12);
  --ligth-gray: #b0b0b0;

  --dark-white: #fcfdfe;

  --btn-blue: #4285f4;
}
