// /*!=================-TYPOGRAPHY-=================!*/
%all-text {
  font-weight: 400;
  font-size: 0.75em;
  line-height: 1.4167;
  letter-spacing: 0.08em;
}

%header-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 0.625rem;
  line-height: 1.2;
  letter-spacing: 0.14em;
  text-transform: uppercase;
}
%btn {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 0.625rem;
  line-height: 1.067;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  text-align: center;
}

.title {
  font-weight: 700;
  font-size: 2.75rem;
  line-height: 1.25;
  color: var(--base-black);
}
.title--blue span {
  color: var(--base-blue);
}
.title--red span {
  color: var(--base-red);
}
%title-video {
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.33;
}
%text-video {
  font-size: 0.5625rem;
  line-height: 0.6875;
  letter-spacing: 0.165em;
  text-transform: uppercase;
}
