/**======================-HEALTH-=================*/
.health {
  background-color: var(--base-light);

  &__container {
    padding: 153px 15px 48px 15px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  &__container::before {
    content: "";
    position: absolute;
    top: 0;
    right: 267px;
    width: 100vw;
    height: 100%;
    background-color: var(--base-red);
    border-radius: 30px 0px 0px 30px;
    transform: translateX(100%);
    @media (max-width: 992.98px) {
      right: 185px;
      border-radius: 20px 0px 0px 20px;
    }
    @media (max-width: 767.98px) {
      display: none;
    }
  }
  &__content {
    position: relative;
    z-index: 5;
    flex: 0 1 48%;
    padding-left: 18px;
    @media (max-width: 992.98px) {
      padding: 0px;
    }
    @media (max-width: 767.98px) {
      flex: 0 1 100%;
      order: 1;
    }
  }

  &__block-text {
    max-width: 415px;
    @media (max-width: 992.98px) {
      max-width: none;
    }
  }

  &__video {
    flex: 1 1 228px;
    margin-left: 18px;
    margin-top: 60px;
    @media (max-width: 767.98px) {
      order: 3;
      margin-left: 0px;
      margin-top: 20px;
    }
  }

  &__img {
    position: relative;
    z-index: 5;
    flex: 0 1 52%;
    @media (max-width: 767.98px) {
      padding: 0px;

      flex: 0 1 100%;
      order: 2;
      & img {
        margin: 0 auto;
      }
    }
  }
}

.block-text {
  &__text {
    margin-bottom: 24px;
  }
  &__title {
    margin-bottom: 12px;
  }

  &__btn {
    @media (max-width: 992.98px) {
      margin-bottom: 20px;
    }
  }
}

.video-health {
  display: flex;
  align-items: center;
  display: inline-flex;
  transition: 0.3s opacity ease-in-out;
  &__icon {
    margin-right: 12px;

    & img {
      max-width: none;
    }
  }
  &__body {
  }

  &__title {
    @extend %title-video;
    color: var(--ligth-gray);
    margin-bottom: 5px;
  }

  &__text {
    @extend %text-video;
    color: var(--base-black);
  }
}
.video-health:hover {
  opacity: 0.6;
}
.video-health:active {
  opacity: 0.3;
}
